.backdrop{
  top:0;
  left:0;
  display: none;
  position:fixed;
  width:100%;
  height:100%;
  z-index:100;
  background:rgba(0,0,0,0.5);
}


main{
  padding:2.5rem;
}
/*.testimonial {*/
  /*font-size: 1.2em;*/
  /*!*the pixels are specified by our browser settings, it is a bit more dynamic*!*/
  /*!*if we wanted to use a standard font-size we would put it to the html*!*/
  /*margin: 48px 0;*/
/*}*/

/*DIFFERENT FONT-SIZE REM and EM*/

/*REM no matter if you applied as FONT SIZE or
 --- MARGIN ---,
  for example always refers to the FONT-SIZE.
The calculations basis for them is the initial font size
-------------->   of the HTML element.*/

.testimonial {
    font-size: 1.2rem;
    /*the pixels are specified by our browser settings, it is a bit more dynamic*/
    /*if we wanted to use a standard font-size we would put it to the html*/
    /*margin: 3rem 0;*/
  }

  /*.testimonial__list {*/
    /*width: 80%;*/
    /*margin: auto;*/
  /*}*/

/*width:80% will not work without setting a wird to the testimonial__image class*/
  .testimonial__image-container{
    width:60%;
    max-width:40rem;
     /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*vertical-align only applies to inline and table-cell elements
    cannot be used on block elements*/
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
    /*we will see an inline element bug we can remove it by using
    vertical align on the image or use display:block*/

    /*transform:skewX(20deg)  Tha paei loksa ston X axis;*/
    /*it allows you to skew element (loksos) on the X or Y axis Skew with one value and SkuwX is the same*/
    /*now the image is skewed to the left*/
    /*transform:skewX(20deg) skewY(20deg);*/
    transform:skew(20deg);
    overflow: hidden;

  }

  .testimonial__image{
    width:100%;
    /*vertical-align: middle; or use display block to
    remove the line at the bottom that the box-shadow is creating,
    because of the bug (read previous element)*/
    display: block;
    transform:skew(-20deg) scaleX(1.4);
    /*scaleX allows you to incrase the width of the image and scaleY the height of the image*/
    /*Scale() with ONE VALUE scale it on both axis*/

  }

  .testimonial__info {
    text-align: right;
    padding: 0.9em;
    /*display: inline-block;*/
    /*vertical-align: middle ;*/
    /*width:35%;*/
  }

  #customer-2.testimonial {
    text-align: right;
  }

  #customer-2 .testimonial__info {
    text-align: left;
  }

  .testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
  }

  /*REM*/
  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    /*rem is using the font-size set by the browser and not by the parent(ancestor)*/
    color: #ccc;
  }

  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }

  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }

  .testimonial__text {
    margin: 0.2rem;
    white-space: pre-line;
  }
  
  @media (min-width: 40rem) {
    .testimonial {
      /*the pixels are specified by our browser settings, it is a bit more dynamic*/
      /*if we wanted to use a standard font-size we would put it to the html*/
      margin: 3rem auto;
      max-width: 1500px;
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content: space-around;
    }

    .testimonial__image-container{
      width:66%;
      box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
    }

    .testimonial__info {
      width:30%;
    }


  }