main{
    padding-top:32px;
}

.package{
    width:80%;
    margin:16px 0;
    border: 4px solid #2e4f1f;
    border-left:none;
}

.package a{
    text-decoration: none;
    /*color inherited from body*/
    color:inherit;
    display: block;
    /* display: block to ensure that the anger tag takes
    full available width of this section (it behaves as a block tag)
    padding would not work without display:block*/
    padding: 32px;
}

.package:hover,
.package:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color:#ff5454;
}

.package__subtitle{
    color:#979797;
}

.package__info{
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #0e4f1f;
    background-color: white;
}

#plus{
    /*rgba to be aple to create a transparent color*/
    background: rgba(213, 155, 220, 0.95);
}

#free{
    background: rgba(234, 252, 237, 0.95);
    float:right;
}

#premium{
    background: rgba(14, 79, 31, 0.95);
}

/*descendant combinator*/
#premium .package__title{
    color:gold;
}

#premium .package__subtitle{
    color:#bbb;
}

/*text align right does not work on inline elements*/


/*float -> we can position elements differently in the document flow*/
/*
FLOAT-> with float we override the default positioning and tell the browser to push
an element to the left order right of the page.
With float they are being taken out of the document flow,
page, though still remaining a part of the flow (in contrast to absolute positioning).
*/


/*https://developer.mozilla.org/en-US/docs/Web/CSS/float*/